body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #1e1f22;
    color: white;
}

#sidebar {
    width: 70px;
    background: #2b2d31;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 16px;
}

.sideIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3a3c41;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.sideIcon:hover {
    background: #8ec5ff;
    transform: scale(1.1);
}

#center {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #2d2f33;
}

#blocklyDiv {
    flex: 1;
}

#right {
    width: 380px;
    min-width: 300px;
    background: #1f2023;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

#canvasBox {
    background: #0d0d0f;
    border-radius: 12px;
    padding: 4px;
    aspect-ratio: 16/9;
    cursor: crosshair;
    position: relative;
}

#canvas {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}

.panel {
    background: #2b2d31;
    border-radius: 12px;
    padding: 10px;
    flex: 0;
    display: flex;
    justify-content: flex-start;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
}

.run {
    background: #8ec5ff;
    color: #000;
}

.stop {
    background: #ff8e8e;
    color: #000;
}

#settingsModal {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background: #2b2d31;
    border-radius: 12px;
    padding: 20px;
    z-index: 100;
    color: white;
}

#settingsModal h3 {
    margin-top: 0;
}

#settingsModal span {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
